{% extends "master.html.twig" %}
{% block title %}Delete Employee{% endblock %}
{% block headExtra %}
    <link rel="stylesheet" type="text/css" href="/styles/listemployee.css"/>
{% endblock %}
{% block content %}       
    {% if error %}
        {% for e in error %}
            <h5 style="color:red;margin-bottom: 0;">{{e}}</h5>
        {% endfor %}
    {% endif %}
        <table>
            <caption>
                <h1>You select this Employee to delete.Please confirm if you are sure!</h1>
            </caption>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone
                </th>
                <th>
                    Image
                </th>
                <th>
                    Confirm Delete
                </th>
            </tr>
            <tr>
                <td>
                    {{employee.firstname}}
                </td>
                <td>
                    {{employee.lastname}}
                </td>
                <td>
                    {{employee.email}}
                </td>
                <td>
                    {{employee.phone}}
                </td>
                <td>
                    <img src="/viewphotousers/{{employee.id}}" id="image" alt="Employee Image"/>
                </td>
                <td>
                    <a href="/deleteemployee/delete/{{employee.id}}" class="button">Delete</a>
                    <a href="/listemployee" class="button">Cancel</a>
                </td>
            </tr>
        </table>
{% endblock %}
