{% extends "master.html.twig" %}
{% block title %}Edit Product{% endblock %}
{% block headExtra %}
    <link rel="stylesheet" type="text/css" href="/styles/addEmployee.css"/>
    <script type="text/javascript" src="/scripts/addproduct.js"></script>
{% endblock %}
{% block content %}       
    <form method="post" id="form" name="form" enctype="multipart/form-data">
        {% if error %}
            {% for e in error %}
                <h5 style="color:red;">{{e}}</h5>
            {% endfor %}
        {% endif %}
        <table>
            <caption>
                <h1>Edit a Product</h1>
            </caption>
            <tr>
                <td class="labels">
                    <label for="productname">Product Name:</label>
                </td>
                <td>
                    <input type="text" id="productname" name="productname" value="{{v.name}}" required/>
                </td>
                <td class="labels">
                    <label for="discount">Discount:</label>
                </td>
                <td>
                    <input type="text" id="discount" name="discount" required value="{{v.discount}}" placeholder="Only float with dot !"  onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0"/>
                </td>
                <td rowspan="4">
                    <img src="/viewphotoproduct/{{v.id}}" alt="product pic" id="img"/>
                </td>
            </tr>
            <tr>
                <td class="labels">
                    <label for="price">Price:</label>
                </td>
                <td>
                    <input type="text" id="price" name="price" required value="{{v.price}}" placeholder="Only float with dot !"  onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0" />
                </td>
                <td class="labels">
                    <label for="startdate">start from:</label>
                </td>
                <td>
                    <input type="text" id="startdate" name="startdate" value="{{v.discountstartdate}}" required />
                </td>
            </tr>
            <tr>

                <td class="labels">
                    <label for="category">Category:</label>
                </td>
                <td>
                    {% if v.categoryId == 1 %}
                        <select name="category" id="category">
                            <option value="software" selected>Software</option>
                            <option value="hardware">Hardware</option>
                        </select>
                    {% else %}
                        <select name="category" id="category">
                            <option value="software">Software</option>
                            <option value="hardware" selected>Hardware</option>
                        </select>
                    {% endif %}
                </td>
                <td class="labels">
                    <label for="enddate">End on:</label>
                </td>
                <td>
                    <input type="text" id="enddate" name="enddate" value="{{v.discountenddate}}" required />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Edit Product" style="width:130px;height:45px;" />
                    <input type="reset" value="Clear The Form" style="width:130px;height:45px;" disabled/>
                </td>
                <td colspan="2">
                    <input type="file" name="image" onchange="readURL(this);"  style="width:260px;height:25px;" />
                </td>
            </tr>
        </table>
    </form>
{% endblock content %}