{% extends "master.html.twig" %}
{% block title %}All Employees{% endblock %}
{% block headExtra %}
    <link rel="stylesheet" type="text/css" href="/styles/listemployee.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/listEmployee.js"></script>
{% endblock %}
{% block content %}
    <form name="form1" id="form1">
        <input type="text" placeholder="type to search" size="100" id="search"/>
        <button id="addEmployeeButton" >Add Employee</button>
        <table>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone
                </th>
                <th>
                    Image
                </th>
                <th>
                    Operations
                </th>
            </tr>
            {% for u in listemployees %}
                <tr>
                    <td>
                        {{u.firstname}}
                    </td>
                    <td>
                        {{u.lastname}}
                    </td>
                    <td>
                        {{u.email}}
                    </td>
                    <td>
                        {{u.phone}}
                    </td>
                    <td>
                        <img src="/viewphotousers/{{u.id}}" id="image" alt="Employee Image"/>
                    </td>
                    <td>
                        <a href="/editemployee/{{u.id}}" class="button">Edit</a>
                        <a href="/deleteemployee/{{u.id}}" class="button">Delete</a>
                    </td>
                    {#{% if user.title == "manager" %}
                        <td>
                            <a href="/editemployee/{{u.id}}" class="button">Edit</a>
                            <a href="/deleteemployee/{{u.id}}" class="button">Delete</a>
                        </td>
                    {% else %}
                         <td>
                            <a href="#" class="button">Edit</a>
                            <a href="#" class="button">Delete</a>
                        </td>
                    {% endif %}#}

                </tr>
            {% endfor %}
        </table>
    </form>
{% endblock content %}
{% block leftaside %}
    {% if flash.logedin  %}
        <h4>
            {{user.firstname}} is {{flash.logedin}}
        </h4>
    {% endif %}
    {% if flash.addemployee %}
        <h4>{{flash.addemployee}}</h4>
    {% endif %}
{% endblock %}

