{% extends "master.html.twig" %}
{% block title %}All Products{% endblock %}
{% block headExtra %}
    <link href="/styles/listproduct.css" type="text/css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/listproduct.js"></script>
{% endblock %}
{% block content %}
    <article class="tabs">
        <input id="one" name="tabs" type="radio" value="One" onclick="myFunction1();">
        <label for="one">Software</label>

        <input id="two" name="tabs" type="radio" value="Two" onclick="myFunction2();">
        <label for="two">Hardware</label>
        <a href="/addproduct" class="button">Add Product</a>
        <div class="panels">
            <div class="panel">
                <table id="tblsoft">
                    <tr>
                        <th class="normal">
                            Product Name
                        </th>
                        <th class="price">
                            Price
                        </th>
                        <th class="price">
                            Discount
                        </th>
                        <th class="normal">
                            Discount Start Date
                        </th>
                        <th class="normal">
                            Discount End Date
                        </th>
                        <th class="picture">
                            Picture
                        </th>
                        <th>
                            Operations
                        </th>
                    </tr>
                    {% for p in listproducts %}
                        {% if p.categoryId == 1 %}
                            <tr>
                                <td class="normal">
                                    {{p.name}}
                                </td>
                                <td class="price">
                                    {{p.price}}
                                </td>
                                <td class="price">
                                    {{p.discount}}
                                </td>
                                <td class="normal">
                                    {{p.discountstartdate}}
                                </td>
                                <td class="normal">
                                    {{p.discountenddate}}
                                </td>
                                <td class="picture">
                                    <img src="/viewphotoproduct/{{p.id}}" id="image" alt="Product Image"/>
                                </td>
                                <td>
                                    <a href="/editproduct/{{p.id}}" class="button">Edit</a>
                                    <a href="/deleteproduct/{{p.id}}" class="button">Delete</a>
                                    <a href="/addtocart/{{p.id}}" class="button">Add to Cart</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
            <div class="panel">
                <table id="tblhard">
                    <tr>
                        <th class="normal">
                            Product Name
                        </th>
                        <th class="price">
                            Price
                        </th>
                        <th class="price">
                            Discount
                        </th>
                        <th class="normal">
                            Discount Start Date
                        </th>
                        <th class="normal">
                            Discount End Date
                        </th>
                        <th class="picture">
                            Picture
                        </th>
                        <th>
                            Operations
                        </th>
                    </tr>
                    {% for p in listproducts %}
                        {% if p.categoryId == 2 %}
                            <tr>
                                <td class="normal">
                                    {{p.name}}
                                </td>
                                <td class="price">
                                    {{p.price}}
                                </td>
                                <td class="price">
                                    {{p.discount}}
                                </td>
                                <td class="normal">
                                    {{p.discountstartdate}}
                                </td>
                                <td class="normal">
                                    {{p.discountenddate}}
                                </td>
                                <td class="picture">
                                    <img src="/viewphotoproduct/{{p.id}}" id="image" alt="Product Image"/>
                                </td>
                                <td>
                                    <a href="/editproduct/{{p.id}}" class="button">Edit</a>
                                    <a href="/deleteproduct/{{p.id}}" class="button">Delete</a>
                                    <a href="/addtocart/{{p.id}}" class="button">Add to Cart</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div> 
        </div>
    </article>
{% endblock %}
{% block leftaside %}
    {% if flash.addcustomer %}
        <h4>{{flash.addcustomer}}</h4>
    {% endif %}
    {% if flash.editcustomer %}
        <h4>{{flash.editcustomer}}</h4>
    {% endif %}
    {% if flash.deletecustomer %}
        <h4>{{flash.deletecustomer}}</h4>
    {% endif %}
{% endblock %}
