{% extends "master.html.twig" %}
{% block title %}All Customers{% endblock %}
{% block headExtra %}
    <link rel="stylesheet" type="text/css" property='stylesheet' href="/styles/listemployee.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/listcustomer.js"></script>
{% endblock %}
{% block content %}
    <form name="form1" id="form1">
        <input type="text" placeholder="type to search" size="100" id="search"/>
        <button id="addCustomerButton" >Add Customer</button>
        <table>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone
                </th>
                <th>
                   Address
                </th>
                <th>
                    Operations
                </th>
            </tr>
            {% for c in listcustomers %}
                <tr>
                    <td>
                        {{c.firstname}}
                    </td>
                    <td>
                        {{c.lastname}}
                    </td>
                    <td>
                        {{c.email}}
                    </td>
                    <td>
                        {{c.phone}}
                    </td>
                    <td>
                        {{"#"~c.appNo~","~c.address~","~c.postalcode~","~c.country}}
                    </td>
                    <td>
                        <a href="/editcustomer/{{c.id}}" class="button">Edit</a>
                        <a href="/deletecustomer/{{c.id}}" class="button">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </form>
{% endblock content %}
{% block leftaside %}
    {% if flash.addcustomer %}
        <h4>{{flash.addcustomer}}</h4>
    {% endif %}
    {% if flash.editcustomer %}
        <h4>{{flash.editcustomer}}</h4>
    {% endif %}
    {% if flash.deletecustomer %}
        <h4>{{flash.deletecustomer}}</h4>
    {% endif %}
{% endblock %}


