            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone
                </th>
                <th>
                    Image
                </th>
                <th>
                    Operations
                </th>
            </tr>
            {% for u in listemployees %}
                <tr>
                    <td>
                        {{u.firstname}}
                    </td>
                    <td>
                        {{u.lastname}}
                    </td>
                    <td>
                        {{u.email}}
                    </td>
                    <td>
                        {{u.phone}}
                    </td>
                    <td>
                        <img src="/viewphotousers/{{u.id}}" id="image" alt="Employee Image"/>
                    </td>                  
                    {% if user.title == "Manager" %}
                        <td>
                            <a href="/editemployee/{{u.id}}" class="button">Edit</a>
                            <a href="/deleteemployee/{{u.id}}" class="button">Delete</a>
                        </td>
                    {% else %}
                         <td>
                            <a href="#" class="button">Edit</a>
                            <a href="#" class="button">Delete</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
